<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	lang="en"
>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Home Result</title>
		<link rel="stylesheet" th:href="@{/css/style.css}">
		<link rel="stylesheet" th:href="@{/css/style.build.tailwind.css}" />
		<link rel="stylesheet" th:href="@{/css/tailwind.css}" />
		<link
			rel="stylesheet"
			href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
			integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
			crossorigin=""
		/>
		<link
			rel="stylesheet"
			href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css"
		/>

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Russo+One&display=swap"
			rel="stylesheet"
		/>
		<title>Home</title>
	</head>
    <body onresize="resize()">
        
	<body onresize="resize()" class="relative">
		<div class="nav flex justify-between text-lg bg-green-300 p-3 h-min sticky top-0">
            <div class="logo"><span class="text-white font-bold font-sans">med</span><span class="text-cyan-700 font-bold font-sans">Find</span></div>
            <div>
            <div class="block sm:hidden"><img onclick="navDropDown()"  class="h-7 ml-auto" src="/src/main/resources/static/images/ui.png"alt=""/></div>
            <div id="dropdown" class="links justify-around hidden sm:flex font-bold font-sans text-cyan-700">
                <div><a href="#" class="decoration-none ml-3 text-white">Home</a></div>
                <div><a href="#" class="decoration-none ml-3">Send request</a></div>
                <div><a href="#" class="decoration-none ml-3">Watchlist</a></div>
                <div><a href="#" class="decoration-none ml-3">Contact us</a></div>
            </div></div>
        </div>

		<!-- <div class="searching mt-5">
			<div class="flex md:flex-row flex-col justify-around items-center">
				<input
					type="text"
					class="md:w-1/2 mx-4 w-11/12 border-b-4 border-red-500 focus:outline-none"
					placeholder="Type your medicine here"
				/>
				<div
					class="flex justify-around mt-3 md:w-9/12 lg:w-2/3 xl:w-1/3 flex-col sm:flex-row"
				>
					<button
						class="bg-green-300 mx-1 px-5 sm:px-5 py-2 sm:mx-5 hover:bg-cyan-200 rounded-full"
					>
						Search in a region
					</button>
					<button
					onclick="loading()"
					id="byLocation"
						class="bg-green-300 my-5 sm:my-0 mx-1 px-5 sm:px-5 py-2 sm:mx-5 hover:bg-cyan-200 rounded-full"
					>
						Search closest to me
					</button>
				</div>
			</div>
		</div> -->


<form method="POST" th:object="${searchForm}" onsubmit="event.preventDefault();" th:action="@{/region}" id="searchform" name="form" class="flex flex-col lg:flex-row justify-around items-center sticky top-12 bg-white">
	<input th:field="*{medicineName}" type="text" class="input-text transition:ease-out duration-300 border-b border-blue-500 focus:outline-0 ml-10 focus:text-blue-900 focus:w-2/3" placeholder='Type your medicine here'></input>
	<div class="ml-auto mr-auto w-2/3 flex justify-around sm:flex-row flex-col items-center">
		<input type="hidden" id="xhidden" th:field="*{userlat}"></input>
		<input type="hidden" id="yhidden" th:field="*{userlong}"></input>
		<input type="hidden" id="regionhidden" name="regionName"></input>
		<div id="dd" class="relative flex flex-col justify-center items-center rounded-full">
			<button id="regionOptions" class="my-5 mx-2 py-2 px-6 md:px-10 rounded-full primary-background">search in a region </button>
			<div id="list"  class="absolute top-0 h-52 overflow-y-scroll overflow-x-hidden w-full bg-green-200">
				<button id="searchByRegionButton" th:each="region : ${regionNames}" th:text="${region}" th:value="${region}" onclick="sendForm()" formaction="/region" class="region w-full mr-5 mx-1 p-1 hover:drop-shadow-xl border primary-background">region</button>
			</div>
		</div>
		<button onclick="loading()" id="byLocation" class="my-5 mx-2 py-2 px-6 md:px-10 rounded-full primary-background border">search closest to me</button>
	</div>
</form>

<div class="absolute top-32 w-full h-4/6 flex justify-center items-center flex-col bg-white z-0 opacity-90" id="loading">
	<div class="loader"></div>
	<h1 class="block secondary text-2xl opacity-100">Searching your medicine</h1>
</div>

		<div class="min-h-screen">
			<div
				th:if="not ${pharmaList}"
				class="items-center mt-10 py-5 rounded-xl shadow-lg md:mx-16 lg:mx-40 h-2/4"
			>
				<p class="text-2xl text-red-500 m-auto w-fit">
					The medicine you searched for in not found!
				</p>
			</div>
			<div
				th:if="${pharmaList}"
				class="flex flex-col justify-center items-center mt-10 py-5 rounded-xl shadow-lg md:mx-16 lg:mx-52"
			>
				<script th:inline="javascript">
					/*<![CDATA[*/
					var coordinates = [];
					/*]]>*/
				</script>
				<div
					th:each="pharmacy : ${pharmaList}"
					class="flex flex-col justify-between items-center w-10/12 rounded-xl my-2 primary-background"
				>
					<div class="ml-3" th:text="${pharmacy.name}">Pharmacy name</div>
					<div class="flex justify-between items-center w-full rounded-xl">
						<div
							class="flex flex-col justify-center items-center rounded-xl m-2"
						></div>
						<div
							class="overflow-hidden w-2/5 h-40 bg-yellow-400 rounded-xl mt-0 m-3"
							th:id="map+(${pharmacy.Id})"
						></div>
						<script th:inline="javascript" type="text/javascript">
							/*<![CDATA[*/
							var name = /*[[${pharmacy.name}]]*/ "Unkown";
							var id = String(/*[[${pharmacy.Id}]]*/);
							// console.log(user_lon, user_lat);

							coords = coords
								.split(",");
							coordinates.push([name, coords[1], coords[0], id]);

							/*]]>*/
						</script>
					</div>
				</div>
			</div>
		</div>

		<footer class="bg-green-300 flex w-full h-14 items-center justify-between">
			<p class="ml-8 text-2xl">privacy policy</p>
			<div class="flex justify-end">
				<img
					class="h-8 m-3"
					src="/src/main/resources/static/images/gmail.png"
					alt=""
				/>
				<img
					class="h-8 m-3"
					src="/src/main/resources/static/images/github.png"
					alt=""
				/>
				<img
					class="h-8 m-3"
					src="/src/main/resources/static/images/linkedin.png"
					alt=""
				/>
				<img
					class="h-8 m-3"
					src="/src/main/resources/static/images/telegram.png"
					alt=""
				/>
				<img
					class="h-8 m-3 mr-5"
					src="/src/main/resources/static/images/facebook.png"
					alt=""
				/>
			</div>

			<script
				src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
				integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
				crossorigin=""
			></script>
			<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
			<!-- <script th:src="@{/js/maps.js}" type="text/javascript"></script> -->
			<script th:src="@{/js/home.js}" type = "text/javascript"></script>
		</footer>
	</body>
</html>
