<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- <link
			href="https://unpkg.com/tailwindcss@^2.0/dist/tailwind.min.css"
			rel="stylesheet"
		/> -->
		<link rel="stylesheet" href="../static/css/style.tailwind.css" />
		<script src="https://cdn.tailwindcss.com"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Russo+One&display=swap"
			rel="stylesheet"
		/>
		<title>Document</title>
	</head>
	<body onresize="resize()" class="min-h-screen">
		<header>
			<div
				class="nav flex justify-between text-lg bg-green-300 p-3 h-min sticky top-0"
			>
				<div class="logo">
					<span class="text-white font-bold font-sans">med</span
					><span class="text-cyan-700 font-bold font-sans">Find</span>
				</div>
				<div>
					<div class="block sm:hidden">
						<img
							onclick="navDropDown()"
							class="h-7 ml-auto"
							src="/src/main/resources/static/images/ui.png"
							alt=""
						/>
					</div>
					<div
						id="dropdown"
						class="links sm:flex justify-around hidden font-bold font-sans text-cyan-700"
					>
						<div>
							<a href="#" class="decoration-none ml-3 text-white">Home</a>
						</div>
						<div><a href="#" class="decoration-none ml-3">Send request</a></div>
						<div><a href="#" class="decoration-none ml-3">Wachlist</a></div>
						<div><a href="#" class="decoration-none ml-3">Contact us</a></div>
					</div>
				</div>
			</div>
		</header>

		<form
			class="w-4/5 sm:w-3/4 md:w-2/4 lg:w-13 mt-32 grid grid-rows-6 content-around shadow-2xl rounded-2xl m-auto"
		>
			<h1 class="text-center text-5xl">Send Request</h1>

			<input
				class="m-5 border-b-2"
				type="text"
				placeholder="Name of the pharmacy owner"
			/>
			<input class="m-5 border-b-2" type="text" placeholder="Phone number" />
			<input
				class="m-5 border-b-2"
				type="email"
				placeholder="Enter your email"
			/>

			<input
				class="m-5 border-b-2"
				type="password"
				placeholder="Name of the pharmacy"
			/>
			<div class="border-b-2 flex justify-between m-5 h-10">
				<input class="" type="password" placeholder="address" />
				<button class="bg-green-200 w-fit px-5 rounded-full">
					Select location
				</button>
			</div>
			<div class="flex items-center space-x-6 m-5 border-b-2">
				<label class="block">
					<input
						type="file"
						class="block w-full text-sm text-slate-500 
                  file:mr-4 file:py-2 file:px-4 file:rounded-full 
                  file:border-0 file:text-sm 
                  file:bg-green-300 file:
                  hover:file:bg-voilet-100"
						placeholder="upload license"
					/>
				</label>
				</div>
			</div>

			<button class="bg-green-200 m-auto my-4 w-fit p-2 px-5 rounded-full">
				Submit
			</button>
		</form>

		<footer
			class="bg-green-300 flex w-full h-14 items-center justify-between fixed bottom-0 left-0"
		>
			<p class="ml-8 text-2xl">privacy policy</p>
			<div class="flex justify-end">
				<img
					class="h-8 m-3"
					src="/src/main/resources/static/images/gmail.png"
					alt=""
				/>
				<img
					class="h-8 m-3"
					src="/src/main/resources/static/images/github.png"
					alt=""
				/>
				<img
					class="h-8 m-3"
					src="/src/main/resources/static/images/linkedin.png"
					alt=""
				/>
				<img
					class="h-8 m-3"
					src="/src/main/resources/static/images/telegram.png"
					alt=""
				/>
				<img
					class="h-8 m-3 mr-5"
					src="/src/main/resources/static/images/facebook.png"
					alt=""
				/>
			</div>
			<script src="../static/js/home.js"></script>
		</footer>

		<script src="../static/js/home.js"></script>
	</body>
</html>
